.calculator {
  height: 70vh;
  width: 100%;
  background: url('/images/background.jpg');
  background-repeat: no-repeat;
}

.ticker {
  height: 80vh;
  width: 100%;
  background: url('/images/ticker-background.jpg');
  background-repeat: no-repeat;
}