.calculator {
  height: 100vh;
  width: 1900px;
  background: url('/images/background.jpg');
  background-repeat: no-repeat;
}

.ticker {
  height: 800px;
  width: 1900px;
  background: url('/images/ticker-background.jpg');
  background-repeat: no-repeat;
}